html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulario-login{
    height: 25rem;
    width: 32%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    border: none;
    border-radius: 13px;
    box-shadow: 1px 1px 18px 5px #5e5d5d;
    gap: 13px;
}

.div-login {
    margin-top: 7rem;
    width: 100%;
    border: none;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    padding: 12px 5%;
}

.div-input{
    width: 100%;
    padding: 0 5%;
}

.input {
    width: 100%;
    height: 2.8rem;
    border: 0;
    outline: 0;
    border-radius: 11px;
    font-size: 18px;
    background-color: #e4e4e4;
    color: #3d3d3d;
}

.div-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.div-buttons .button-acessar {
    background-color: #5e5d5d;
    height: 2.5rem;
    border-radius: 7px;
    border: none;
    width: 7rem;
    transition: .5s;
}

.div-buttons .button-acessar:hover{
    background-color: #797979;
}


/*Parte mobile*/

@media screen and (max-width: 412px) {
    .formulario-login{
        box-shadow: 1px 1px 1px #ffffff;
        width: 100%;
        height: 100vh;
        gap: 40px;
        margin-top: 5rem;
    }

    h1{
        margin-top: 5rem;
    }

    .div-input{
        width: 100vw;
        height: 4rem;
        padding: 9px 8%;
    }

    .input{
        height: 3.5rem;
    }
}