/* Estilo geral*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #241313;
    height: 100vh;
}


/*Estilo formulário*/

.formulario{
    width: 100vw;
    height: 100vh;
    padding: 20px 4%;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
    gap: 10px;
}

input, area{
    width: 60%;
    border: 0;
    outline: 0;
    padding: 12px 15px;
    border-radius: 15px;
    font-size: 18px;
    background-color: #e4e4e4;
    color: #3d3d3d;
}

.div-informacoes{
    display: flex;
    width: 60%;
    gap: 10px;
}

.btn-enviar{
    display: flex;
    margin-top: 20px;
}

.btn-enviar .submit{
    width: 120px;
    background-color: #3d3d3d;
    color: #ffff;
    cursor: pointer;
    transition: .2s;
}

.submit:hover{
    box-shadow: 0px 0px 8px #555555;
    transform: scale(1.05);
}


/*Parte mobile*/

@media screen and (max-width: 412px) {
    .formulario{
        box-shadow: 1px 1px 1px #ffffff;
        width: 100%;
        height: 100vh;
        gap: 40px;
        margin-top: 5rem;
        display: flex;
        text-align: center;
        padding: 0 2%;
    }

    .interface{
        height: 100vh;
    }

    form{
        padding: 10px 3% !important;
        height: 100vh;
        display: flex;
        margin-top: 0 !important;
    }

    .input-cadastro, area{
        width: 100%;
        border-radius: 12px;
    }

    .div-informacoes{
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .input{
        height: 3.8rem;
    }

    .btn-enviar{
        width: 100%;
        height: 5rem;
        margin-top: 1rem;
        padding: 15px;
        display: flex;
        justify-content: center;
        
    }
}
